.carousel { 
    margin:auto;
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 300px;
  margin-top: 3rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 300px;
  background-color: var(--primary-color-dark);
  box-shadow: 0 0 15px var(--primary-color);
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.merch-img1 {
    width: 160px;
    height: auto;
    object-fit: cover;
    transition: width .4s;
    

}


.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
  background: url('../assets/pc.webp') center/cover no-repeat;
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
  background: url('../assets/mobo.webp') center/cover no-repeat;
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
  background: url('../assets/asus.webp') center/cover no-repeat;
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
  background: url('../assets/vga.webp') center/cover no-repeat;
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
  background: url('../assets/adata.webp') center/cover no-repeat;
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
  background: url('../assets/ram.webp') center/cover no-repeat;

}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
  background: url('../assets/vga2.webp') center/cover no-repeat;
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
  background: url('../assets/yeston.webp') center/cover no-repeat;
}